@import "tailwindcss";
@plugin "daisyui";

/* React Slick */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* React Slick */


@theme {
  --color-blackColor: #262626;
  --color-bgColor: #F5F5F3;
  --color-textColor:#767676;
  --color-bannerColor:#D8D8D8;
  --color-texProductColor:#262626;
  --color-hrColor:#F0F0F0;
  
}
